# This is Git's per-user configuration file.
[user]
	name = muralis07777
	email = muralis07777@gmail.com
# Please adapt and uncomment the following lines:
#	name = muralis07777
#	email = muralis07777@gmail.com
